@model ScholarshipHub.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrationChoice</title>
</head>
<body>
    <div>
        <h4>Scholarship Hub</h4>
        <hr />
        <div>
            @Html.ActionLink("Register As an University", "Create", "University")
        </div>
        <div>
            @Html.ActionLink("Register As an Organisation", "Create", "Organisation")
        </div>
        <div>
            @Html.ActionLink("Register As a Student", "CreateStudent", "Registration")
        </div>
    </div>
</body>
</html>
