<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #105A43;
        }

        li {
            float: left;
            width: 14%;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 25px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #06261D;
                }
    </style>
</head>
<body>
    <table border="0" width="100%">

        <tr class="heading">
            <td>
                <p><font style="font-style: italic;" color="#313D3A" size="8"><b>Scholarship Hub</b></font></p>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><a href="/Admin">Home</a></li>
                    <li><a href="/Admin/AdminPanel">Admin Panel</a></li>
                    <li><a href="/Admin/payment">Payment</a></li>
                    <li><a href="/Admin/modifyscholarship">Modify Scholarship</a></li>
                    <li><a href="/Admin/analyse">Insights</a></li>
                    <li><a href="/Admin/messages">Messages</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </td>
        </tr>
    </table>



</body>
</html>